<div class='finished_div' style="display:none">
  <h1>You have completed <%= @survey.title %></h1>
  <h2>Thank you!<h2>

  <form action="/surveys/all" method="GET">
    <input type="submit" value="Home">
  </form>
</div>
