



<div id="welcome" class="container">
  <h1>Survey Says... Sign Up!</h1>
 

  <form action='/users/new' method="POST"><br><br>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="password" name="confirmed_password" placeholder="confirm password"><br><br>
    <input type="submit">
  </form>
    


</div>
