<div class="container">
  <h1>SIGN UP</h1>
  <p>Hello, Melissa and Clark</p>

  <form action='/users/new' method="POST"><br><br>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="password" name="confirmed_password" placeholder="confirm password"><br><br>
    <input type="submit">
  </form>
    jjkk


</div>
