<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway+Dots&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="bar">
    <% if !session[:user_id].nil? %>
    <a href='/surveys/all'>All Surveys</a>
    <a href='/logout'>Logout</a>
    <a href="/users/<%=session[:user_id]%>/surveys">Profile</a>
    <% else %>
    <a href='/surveys/all'>All Surveys</a>
    <a href='/survyes/new'>Create Survey</a>
    <a id="login" href='/login'>Login</a>

    <% end %>
  </div>

  <%= yield %>

</body>
</html>
