<div class="container">
  <h1> LOGIN </h1>

  <form action='/login' method="POST"><br><br>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit">
  </form>
</div>
