<div class="container">

  <h1> Welcome, <%= @user.username %>!</h1>

  <ul id="surveys">
    <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>"><%= survey.title %></a></li><br><br>
    <% end %>
  </ul>

</div>
