<div class="container">

  <h1> Welcome, <%= @user.username %>!</h1>
  <h2> My Surveys, click for results </h2>
  <ul id="surveys">
    <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>/results"><%= survey.title %></a></li><br>
    <% end %>
  </ul>

</div>
