<div class="container">
  <h1>Results for <%= @survey_title %></h1>
  <ul class="questions">
    <% @questions_responses_count.each_pair do |question, responses| %> 
    <li> <%= question.body %>
      <ul>
        <% responses.each_pair do |response, total| %>
          <li><%= response.option %>: <%= total %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
