<div class="container">
  <div class="question_space"></div>
    <form action='/surveys/new' name='new_survey' id='new_survey' method='POST'>
      <input type="text" name="title">
      <input type="submit" value="Create Survey">
    </form>
  </div>
</div>